{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>python</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <style>
            .container {
                width: 100%;
                margin: auto;
                padding: 10px;
            }

            .one {
                width: 15%;
                float: left;
                overflow-y:scroll;
            }

            .two {
                width:50%;
                margin-left: 5%;
                float: left;

            }
            .three {
                width: 20%;
                padding: 3px;
                margin-left: 5%;
                float: left;
                border-style: solid;
                border-color: white;
            }
        </style>
    </head>
<body>


<section class="w3-hide-small main-header">
    <h1 class="w3-center w3-light-blue"> <i class="fa fa-heart"></i> Welcome Portfolio Programming Web <i class="fa fa-heart"></i> : {{user.username}} </h1>
    {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
    <div class="w3-bar w3-blue">
        <a href="{% url 'home' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
        </a>
        <a href="{% url 'upload' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
        </a>
        <a href="{% url 'store' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
        </a>
        <a href="{% url 'movie' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
        </a>
        <div class="w3-dropdown-hover ">
            <button class="w3-button w3-blue">Menu</button>
            <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                <a href="{% url 'movie' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                </a>
                <a href="{% url 'project' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                </a>
                <a href="{% url 'question' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                </a>
                <a href="{% url 'programming' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                </a>
            </nav>
        </div>
        <a href="{% url 'logout' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
        </a>
    </div>

    {% else %}
    <div class="w3-bar w3-blue">
        <a href="{% url 'home' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
        </a>
        <div class="w3-dropdown-hover ">
            <button class="w3-button w3-blue">Menu</button>
            <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                <a href="{% url 'movie' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                </a>
                <a href="{% url 'project' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                </a>
                <a href="{% url 'question' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                </a>
                <a href="{% url 'programming' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                </a>
            </nav>
        </div>
        <a href="{% url 'logout' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
        </a>
        {% endif %}
    </section>







    <section class="w3-show-small w3-hide-medium w3-hide-large main-header">
        <h1 class="w3-center w3-light-blue"> <i class="fa fa-heart"></i> Welcome To Portfolio Programming Web <i class="fa fa-heart"></i> : {{user.username}} </h1>
        {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
        <div class="w3-bar w3-blue">
            <a href="{% url 'home' %}">
                <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
            </a>
            <a href="{% url 'upload' %}">
                <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
            </a>
            <a href="{% url 'store' %}">
                <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
            </a>

            <div class="w3-dropdown-hover ">
                <button class="w3-button w3-blue">Menu</button>
                <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                    <a href="{% url 'movie' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                    </a>
                    <a href="{% url 'project' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                    </a>
                    <a href="{% url 'question' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                    </a>
                    <a href="{% url 'programming' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                    </a>
                </nav>
            </div>
            <a href="{% url 'logout' %}">
                <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
            </a>
        </div>
    
        {% else %}
        <div class="w3-bar w3-blue">
            <a href="{% url 'home' %}">
                <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
            </a>
            <div class="w3-dropdown-hover ">
                <button class="w3-button w3-blue">Menu</button>
                <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                    <a href="{% url 'movie' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                    </a>
                    <a href="{% url 'project' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                    </a>
                    <a href="{% url 'question' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                    </a>
                    <a href="{% url 'programming' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                    </a>
                </nav>
            </div>
            <a href="{% url 'logout' %}">
                <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
            </a>
            {% endif %}
        </section>




        <h1 style="text-align: center;"> Syntax </h1>

        <section class="container w3-hide-small main-header">
            <div class="one">
                <a href="{% url 'python' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Introduction</button>
                </a> </br>
                <a href="{% url 'pythonsyntax' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item"> Syntax </button>
                </a></br>
            </div>
            <div class="two"> 
                <h3> What is Syntax in general? </h3>
                <p> 
                    The syntax of a computer language is a set of rules in computer science that describe the 
                    combinations of symbols that are regarded as appropriately formed statements or expressions in that language.
                </p> 
                </br></br>
                <h3> Syntax in python: </h3>
                <p>
                    The Python programming language's syntax is a set of rules that describe how a Python program is written and 
                    interpreted (by both the runtime system and by human readers). Python shares a lot of similarities with Perl, 
                    C, and Java. There are, nevertheless, some clear distinctions between the languages. Python syntax has 
                    similarities to English languages. 
                </p>

                <h3> Indentation</h3>
                <p>
                    An indentation, also known as an indent, is a space at the beginning of a line that indicates the beginning of a 
                    new paragraph ( code block ) in the written form of many languages. This concept has been used by several computer 
                    languages to indicate "paragraphs" or other logical chunks in the program. 
                </p>
                <h3> Why is indentation so important in python? </h3>
                <p>
                    The indentation supports them in comprehending the sequence in which each block/statement should be executed. 
                    Python indentation, on the other hand, is a technique of informing the Python interpreter that a set of 
                    statements belongs to a specific code block. 
                </p>
                
                
                
                <iframe src="https://trinket.io/embed/python3/0407b94168" width="100%" height="220" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

                </br>
                <p>
                    As you see above code, There is only one line of statement in each block. Print is following the python indentation. 
                    <p style="color: blue;"> 
                        Print ("True: 2 is less than 3") statement is the part of if block
                    </p>

                    <p style="color: blue;">
                        print ("this isn't the part of if block") statement is the part of else block
                    </p>
                    <p>
                        See, if you don't follow the python indentation then python will know 
                        that line of the statement isn't a sequence of the code block.
                    </p>
                    </br>
                </p>
                <h3> Python Identifier </h3>
                <p>
                    A Python identifier is a name given to a variable, function, class, module, or other objects in Python. 
                    Python allows letters, underscore (_), and numbers to create a python identifier. Python doesn't allow 
                    punctuation characters such as $, @, and others. Python is a case-sensitive programming language. 
                    Name ( Code and code ) are two different names in Python. Also, identifier begins with numbers aren't allow in python.
                    
                </p>
                
                <iframe src="https://trinket.io/embed/python3/4e02c43ef6" width="100%" height="250" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

            </div>
            <div class="three">
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            </div>
        </section>


        
        
        



        <!-- mobile size and no left side menu of physical activities-->
        <section class="w3-show-small w3-hide-medium w3-hide-large main-header">
            <div> 
                <p> Python is a general-purpose, versatile and popular programming language. Python is a high-level 
                    language but must be interpreted into machine code (binary) before it can be executed. 
                    Programs written in a high-level language take less time to write, they are shorter and 
                    easier to read, and they are more likely to be correct. Python was created by Guido van 
                    Rossum, and released in 1991. Python is a very popular open-source software development 
                    language. It is used for:
                </p> 
                <ul>
                    <li>Web Development (server-side)</li>
                    <p style="margin-left: 14px;"> 
                        Python has so many webs framework. The most popular Python web frameworks are Django and flask. 
                        There are other Python web frameworks such as Hub, Bottle, Web2py, Cherrypy, Pyramid, Falcon and, etc. 
                    </p>

                    <li>Data Analysis</li>
                    <p style="margin-left: 14px;">
                        Python is a dynamic language that supports both structured programming as well as to object-oriented 
                        programming. Unlike C and Java, Python focuses on readability. Python is considered the easiest 
                        language to learn. Hence it attracts lots of developers and also has a very large developer community 
                        which in turn brings out large support to everyone. Also, Python has a very large library, which eases 
                        lots of tasks.
                    </p>

                    <li>Software Development</li>
                    <p style="margin-left: 14px;">
                        Platforms like Google, Instagram, Spotify, and Reddit all use Python.  Python has always favored the
                         developers that offer enhanced process control capabilities. It is able to develop complex multi-protocol 
                         network applications while also maintaining simple and straightforward syntax. 
                    </p>
                    <li>System Scripting</li>
                    <p style="margin-left: 14px;">
                        Python allows communication with the database systems. It can also read and modify files.
                    </p>
                </ul>
                <h1 style="text-align: center;"> Why Python? </h1>
                <p>
                    <li style="margin-left: 15px;" >
                        Developers can build programs in fewer lines of code.
                    </li>
                    <li  style="margin-left: 15px;">
                        Python supports a procedural way, an object-oriented way, or a functional way.
                    </li>
                    <li  style="margin-left: 15px;">
                        Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
                    </li>
                    <li  style="margin-left: 15px;">
                        Python is known as an interpreter system. 
                        As soon as the code is written it will be executed. This means that prototyping can be very quick.
                    </li>
                    <li  style="margin-left: 15px;">
                        Python has a simple syntax similar to the English language.
                    </li>
                </p>

                <h1 style="text-align: center;"> Python Syntax </h1>
                <li  style="margin-left: 15px;">
                    Python is very readable.
                </li>
                <li  style="margin-left: 15px;">
                    Python doesn't need semicolons or parentheses to complete a command.
                </li>
                <li  style="margin-left: 15px;">
                    Python relies on indentation, using whitespace, to define scope; such 
                    as the scope of loops, functions, and classes. Other programming languages often use curly brackets for this purpose
                </li>
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            </div>
        </section>



        
</body>
</html>