{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Portfolio Programming Web</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
      <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      
      <head>
         <style>
         * {
           box-sizing: border-box;
         }
         
         .column {
           float: left;
           width: 33.33%;
           padding: 5px;
         }
         
         /* Clearfix (clear floats) */
         .row::after {
           content: "";
           clear: both;
           display: table;
         }
         </style>
   </head>
   <body>
      <section class="w3-hide-small main-header">
         {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
         <div class="w3-bar w3-blue">
            <div style="text-align: left;">
               <button class="w3-hover-light-blue w3-button w3-bar-item"> <i class="fa fa-heart"></i> Welcome To Portfolio Programming Web <i class="fa fa-heart"></i> : {{user.username}} </button>
            </div>

            <div style="text-align: right;">
               <a href="{% url 'home' %}">
               <button style="margin-left: 30px;" class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
               <a href="{% url 'upload' %}">
               <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
               </a>
               <a href="{% url 'store' %}">
               <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
               </a>
               <a href="{% url 'movie' %}">
               <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
               </a>
               <a href="{% url 'PhysicalActivity' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item w3-blue">Physical Activity</button>
               </a>
               <div class="w3-dropdown-hover ">
                  <button class="w3-button w3-blue">Menu  <i class="fa fa-caret-down"> </i></button>
                  <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'home' %}">
                     <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
                     </a>
                     <a href="{% url 'project' %}">
                     <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                     </a>
                     <a href="{% url 'question' %}">
                     <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                     </a>
                     <a href="{% url 'programming' %}">
                     <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                     </a>
                  </nav>
               </div>
               <a href="{% url 'logout' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
               </a>
            </div>
         </div>
         {% else %}
         <div class="w3-bar w3-blue">
            <button class="w3-hover-light-blue w3-button w3-bar-item"> <i class="fa fa-heart"></i> Welcome To Portfolio Programming Web <i class="fa fa-heart"></i> : {{user.username}} </button>
            <a href="{% url 'home' %}">
            <button style="margin-left: 30px;" class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
            </a>
            <div class="w3-dropdown-hover ">
               <button class="w3-button w3-blue">Menu  <i class="fa fa-caret-down"></i> </button>
               <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                  <a href="{% url 'PhysicalActivity' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
                  </a>
                  <a href="{% url 'project' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                  </a>
                  <a href="{% url 'movie' %}">
                  <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                  </a>
                  <a href="{% url 'question' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                  </a>
                  <a href="{% url 'programming' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                  </a>
               </nav>
         </div>
         <a href="{% url 'logout' %}">
         <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
         </a>
         {% endif %}
      </section>
      <section class="w3-show-small w3-hide-medium w3-hide-large main-header">
         {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
         <div class="w3-bar w3-blue">
            <button class="w3-hover-light-blue w3-button w3-bar-item"> <i class="fa fa-heart"></i> Welcome To Portfolio Programming Web <i class="fa fa-heart"></i> : {{user.username}} </button>
            <a href="{% url 'home' %}">
            <button style="margin-left: 30px;" class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
            </a>
            <a href="{% url 'upload' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
            </a>
            <a href="{% url 'store' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
            </a>
            <a href="{% url 'PhysicalActivity' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item w3-blue">Physical Activity</button>
            </a>
            <div class="w3-dropdown-hover ">
               <button class="w3-button w3-blue">Menu <i class="fa fa-caret-down"></i></button>
               <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                  <a href="{% url 'PhysicalActivity' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
                  </a>
                  <a href="{% url 'project' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                  </a>
                  <a href="{% url 'movie' %}">
                  <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                  </a>
                  <a href="{% url 'question' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                  </a>
                  <a href="{% url 'programming' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                  </a>
               </nav>
            </div>
            <a href="{% url 'logout' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
            </a>
         </div>
         {% else %}
         <div class="w3-bar w3-blue">
            <button class="w3-hover-light-blue w3-button w3-bar-item"> <i class="fa fa-heart"></i> Welcome To Portfolio Programming Web <i class="fa fa-heart"></i> : {{user.username}} </button>
            <a href="{% url 'home' %}">
            <button style="margin-left: 30px;" class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
            </a>
            <div class="w3-dropdown-hover ">
               <button class="w3-button w3-blue">Menu <i class="fa fa-caret-down"></i></button>
               <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                  <a href="{% url 'PhysicalActivity' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
                  </a>
                  <a href="{% url 'project' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                  </a>
                  <a href="{% url 'movie' %}">
                  <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                  </a>
                  <a href="{% url 'question' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                  </a>
                  <a href="{% url 'programming' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                  </a>
               </nav>
            </div>
            <a href="{% url 'logout' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
            </a>
         {% endif %}
      </section>
     
      <img src="{% static '#' %}" id="slide" alt="slides image not found" width="100%"/>
      <script>
         function show(){
             var x = document.getElementById("showw");
             if (x.style.display === "none")
             {
                 x.style.display = "block";
                 x.style.width = "100%";
             }
             else{
                 x.style.display = "none";
             }
         }
         function expand(number){
             var y = event.target.firstElementChild;
             if(y.style.display==="none")
             {
                 y.style.display = "block";
         
             }
             else{
                 y.style.display = "none";
             }
         }
         
         var images=["computerclubimage.jpg","Computing-feat.jpg", "computingimage.jpg","shutterstock.jpg"]
         automatic();
         var count =0;
         function automatic(){
             var heightt = screen.height - 400; 
             
             if(count < images.length-1 || count < 0){
                 ++count;
                 document.getElementById('slide').src = "static/app/"+images[count]; 
                 document.getElementById("slide").height = heightt;
                 
             }
             else if(typeof count == "undefined")
             {
                 document.getElementById('slide').src = "static/app/"+images[0];
                 document.getElementById("slide").height = heightt;
                 
             }
             else if (count + 2 >= images.length){
                 count=0;
                 document.getElementById('slide').src = "static/app/"+images[0];
                 document.getElementById("slide").height = heightt;
         
         
             }
             else{
                 ++count;
             }
             
         }
         setInterval(automatic, 6000);
      </script>

      <div style="text-align: center; width: 70%; margin:auto;">

            <h1> What is this portfolio about?</h1>
            <p> 
               Hello, Welcome to my portfolio. Here I will share my knowledge of programming projects, programming languages, fitness, blog and, many other. Those are the basic intro of my portfolio. I am not either sure what I will add to my portfolio.
            </p>
      </div>

      <hr>

      <div style="background-color: antiquewhite;">
         <div style="width: 80%; margin: auto; margin-top: 50px;" class="row">
            <div class="column">
            <details style="text-align: center;">
               <summary>Have question?</summary>
               <p>If you have any question then please, feel free to contact us, thank you.</p>
             </details>
            <img src="{% static 'gif/ask.gif' %}" alt="question image not found" style="width:100%">
            </div>
            <div class="column">
               <h3> Would you like to build a responsive website, software and etc? </h3>
               <p style="width:100%;  margin-top: 50px;"> 
                  We are very please to satisfy customers desire program. Our People are expert in customers service, programming languages, 
                  security and, testing. If you want to build something such as website, full stack program, back-end program, API, games and, etc. 
                  please, feel free to contact us and ask any questions, thank you. 
               </p>
               <form  method="post" accept="">
                  <fieldset>
                     <legend>Request</legend>
                     {% csrf_token %}
                     <input type="text" name="firstname" placeholder="first name"/> <br>
                     <input type="text" name="lastname" placeholder="last name"/> <br>
                     <input type="email" name="gmail" placeholder="email"/> <br>
                     <input type="text"  name="question" placeholder="Type your question"/> <br>
                     <textarea name="messages" rows="4" cols="50" placeholder="Question details here..."></textarea><br>
                     <button type="submit" name="submit"> Send </button>
                  </fieldset>
               </form>
            </div>
            <div class="column">
            <details style="text-align: center;">
               <summary>Work</summary>
               <p>Work hard can beat talent.</p>
             </details>
            <img src="{% static 'gif/type-typing.gif' %}" alt="type-typing image not found" style="width:100%">
            </div>
         </div>
       </div>


      <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

      <footer style="text-align: center;" class="social-media">
         <h2>Follow us on social media</h2>
         <hr />
         <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x" > </i> </a>
         <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter-square fa-2x"></i></a>
         <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
         <p class="w3-medium">Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </footer> 
      
   </body>
</html>

