

{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Portfolio Programming Web</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
   </head>
   <body>
      <section class="w3-hide-small main-header">
         <h1 class="w3-center w3-light-blue"> <i class="fa fa-heart"></i> Welcome To Portfolio Programming Web <i class="fa fa-heart"></i> : {{user.username}} </h1>
         {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
         <div class="w3-bar w3-blue">
            <a href="{% url 'home' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
            </a>
            <a href="{% url 'upload' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
            </a>
            <a href="{% url 'store' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
            </a>
            <a href="{% url 'movie' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
            </a>
            <a href="{% url 'PhysicalActivity' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item w3-blue">Physical Activity</button>
            </a>
            <div class="w3-dropdown-hover ">
               <button class="w3-button w3-blue">Menu</button>
               <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                  <a href="{% url 'home' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
                  </a>
                  <a href="{% url 'project' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                  </a>
                  <a href="{% url 'question' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                  </a>
                  <a href="{% url 'programming' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                  </a>
               </nav>
            </div>
            <a href="{% url 'logout' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
            </a>
         </div>
         {% else %}
         <div class="w3-bar w3-blue">
         <a href="{% url 'home' %}">
         <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
         </a>
         <div class="w3-dropdown-hover ">
            <button class="w3-button w3-blue">Menu</button>
            <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
               <a href="{% url 'PhysicalActivity' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
               </a>
               <a href="{% url 'project' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
               </a>
               <a href="{% url 'movie' %}">
               <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
               </a>
               <a href="{% url 'question' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
               </a>
               <a href="{% url 'programming' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
               </a>
            </nav>
         </div>
         <a href="{% url 'logout' %}">
         <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
         </a>
         {% endif %}
      </section>
      <section class="w3-show-small w3-hide-medium w3-hide-large main-header">
         <h1 class="w3-center w3-light-blue"> <i class="fa fa-heart"></i> Welcome To Portfolio Programming Web <i class="fa fa-heart"></i> : {{user.username}} </h1>
         {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
         <div class="w3-bar w3-blue">
            <a href="{% url 'home' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
            </a>
            <a href="{% url 'upload' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
            </a>
            <a href="{% url 'store' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
            </a>
            <a href="{% url 'PhysicalActivity' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item w3-blue">Physical Activity</button>
            </a>
            <div class="w3-dropdown-hover ">
               <button class="w3-button w3-blue">Menu</button>
               <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                  <a href="{% url 'PhysicalActivity' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
                  </a>
                  <a href="{% url 'project' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                  </a>
                  <a href="{% url 'movie' %}">
                  <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                  </a>
                  <a href="{% url 'question' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                  </a>
                  <a href="{% url 'programming' %}">
                  <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                  </a>
               </nav>
            </div>
            <a href="{% url 'logout' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
            </a>
         </div>
         {% else %}
         <div class="w3-bar w3-blue">
         <a href="{% url 'home' %}">
         <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
         </a>
         <div class="w3-dropdown-hover ">
            <button class="w3-button w3-blue">Menu</button>
            <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
               <a href="{% url 'PhysicalActivity' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
               </a>
               <a href="{% url 'project' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
               </a>
               <a href="{% url 'movie' %}">
               <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
               </a>
               <a href="{% url 'question' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
               </a>
               <a href="{% url 'programming' %}">
               <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
               </a>
            </nav>
         </div>
         <a href="{% url 'logout' %}">
         <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
         </a>
         {% endif %}
      </section>
     
      <img src="#" id="slide" alt="slides image not found" width="100%"/>
      <script>
         function show(){
             var x = document.getElementById("showw");
             if (x.style.display === "none")
             {
                 x.style.display = "block";
                 x.style.width = "100%";
             }
             else{
                 x.style.display = "none";
             }
         }
         function expand(number){
             var y = event.target.firstElementChild;
             if(y.style.display==="none")
             {
                 y.style.display = "block";
         
             }
             else{
                 y.style.display = "none";
             }
         }
         
         var images=["computerclubimage.jpg","Computing-feat.jpg", "computingimage.jpg","shutterstock.jpg"]
         automatic();
         var count =0;
         function automatic(){
             var heightt = screen.height - 200; 
             
             if(count < images.length-1 || count < 0){
                 ++count;
                 document.getElementById('slide').src = "../static/app/"+images[count]; 
                 document.getElementById("slide").height = heightt;
                 
             }
             else if(typeof count == "undefined")
             {
                 document.getElementById('slide').src = "../static/app/"+images[0];
                 document.getElementById("slide").height = heightt;
                 
             }
             else if (count + 2 >= images.length){
                 count=0;
                 document.getElementById('slide').src = "../static/app/"+images[0];
                 document.getElementById("slide").height = heightt;
         
         
             }
             else{
                 ++count;
             }
             
         }
         setInterval(automatic, 6000);
      </script>

      <h1> What is this portfolio about?</h1>
      <p> 
          This is my portfolio where I am share my knowledge of programming project, programming, fitness and many other. Those 
          are the basic intro of this portfolio. I am not either sure what I will add in my portfolio.
      </p>
      <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
   </body>
</html>

