{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>movie collection</title>
        <meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                "order": []
            });
        });
        </script>
        <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            border: 1px solid black;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        a {
            text-decoration: none;
        }
        .img_center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
        }
            
        </style>
    </head>
    <body> {% load static %} {% block content %}
        <section class="w3-hide-small main-header">
            <h1 class="w3-center w3-light-blue"> <i class="fa fa-heart"></i> Welcome To Tula Magar portfolio <i class="fa fa-heart"></i> : {{user.username}} </h1>
            {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
            <div class="w3-bar w3-blue">
                <a href="{% url 'home' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
                </a>
                <a href="{% url 'upload' %}">
                    <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
                </a>
                <a href="{% url 'store' %}">
                    <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
                </a>
                <div class="w3-dropdown-hover ">
                    <button class="w3-button w3-blue">Menu</button>
                    <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                        <a href="{% url 'PhysicalActivity' %}">
                            <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
                        </a>
                        <a href="{% url 'project' %}">
                            <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                        </a>
                        <a href="{% url 'question' %}">
                            <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                        </a>
                    </nav>
                </div>
                <a href="{% url 'logout' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
                </a>
            </div>
        
            {% else %}
            <div class="w3-bar w3-blue">
                <a href="{% url 'home' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
                </a>
                <div class="w3-dropdown-hover ">
                    <button class="w3-button w3-blue">Menu</button>
                    <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                        <a href="{% url 'PhysicalActivity' %}">
                            <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
                        </a>
                        <a href="{% url 'project' %}">
                            <button class=" w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                        </a>
                        <a href="{% url 'question' %}">
                            <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                        </a>
                    </nav>
                </div>
                <a href="{% url 'logout' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
                </a>
                {% endif %}
            </section>
        
        
        
        
        
        
        
            <section class="w3-show-small w3-hide-medium w3-hide-large main-header">
                <h1 class="w3-center w3-light-blue"> <i class="fa fa-heart"></i> Welcome To Tula Magar portfolio <i class="fa fa-heart"></i> : {{user.username}} </h1>
                {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
                <div class="w3-bar w3-blue">
                    <a href="{% url 'home' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
                    </a>
                    <a href="{% url 'upload' %}">
                        <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
                    </a>
                    <a href="{% url 'store' %}">
                        <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
                    </a>
        
                    <div class="w3-dropdown-hover ">
                        <button class="w3-button w3-blue">Menu</button>
                        <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                            <a href="{% url 'PhysicalActivity' %}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
                            </a>
                            <a href="{% url 'project' %}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                            </a>
                            <a href="{% url 'question' %}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                            </a>
                        </nav>
                    </div>
                    <a href="{% url 'logout' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
                    </a>
                </div>
            
                {% else %}
                <div class="w3-bar w3-blue">
                    <a href="{% url 'home' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
                    </a>
                    <div class="w3-dropdown-hover ">
                        <button class="w3-button w3-blue">Menu</button>
                        <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                            <a href="{% url 'PhysicalActivity' %}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
                            </a>
                            <a href="{% url 'project' %}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                            </a>
                            <a href="{% url 'question'%}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                            </a>
                        </nav>
                    </div>
                    <a href="{% url 'logout' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
                    </a>
                    {% endif %}
                </section>




        
        <div class="w3-container" style="overflow-x:auto; margin-top: 100px; width:80%; margin:auto;">
            <table id="myTable" class="display cell-border compact"> 
                <thead>
                    <th>Movie link</th>
                    <th>Movie info</th>
                </thead>
                {% for movie in movies %}
                <tbody>
                    
                    <td style="width:200px" ><a href={{movie.2}}> <img src="data:image/jpeg;base64,{{movie.1}}" class="w3-hover-opacity w3-border w3-padding img_center"/></a> </td>              
                    <td ><h3>{{movie.0}}</h3> </td>
                    <p name="space for a reason" style="margin-top: 10px; padding: 10px;"></p>
                </tbody>
                {% endfor %} 
        </div>   

        {% endblock content %}
    </body>
</html>