{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <style>
            .container {
                width: 100%;
                margin: auto;
                padding: 10px;
            }

            .one {
                width: 15%;
                float: left;
                overflow-y:scroll;
            }

            .two {
                width:50%;
                margin-left: 5%;
                float: left;

            }
            .three {
                width: 20%;
                padding: 3px;
                margin-left: 5%;
                float: left;
                border-style: solid;
                border-color: white;
            }
        </style>
    </head>
<body  style="background-image:linear-gradient(#1e415e 10%, #2b5b84 90%); background-repeat: no-repeat;background-attachment: fixed;  
background-size: cover;">


<section class="w3-hide-small main-header">
    <h1 class="w3-center w3-light-blue"> <i class="fa fa-heart"></i> Welcome To Tula Magar portfolio <i class="fa fa-heart"></i> : {{user.username}} </h1>
    {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
    <div class="w3-bar w3-blue">
        <a href="{% url 'home' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
        </a>
        <a href="{% url 'upload' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
        </a>
        <a href="{% url 'store' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
        </a>
        <a href="{% url 'movie' %}">
            <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
        </a>
        <div class="w3-dropdown-hover ">
            <button class="w3-button w3-blue">Menu</button>
            <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                <a href="{% url 'movie' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                </a>
                <a href="{% url 'project' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                </a>
                <a href="{% url 'question' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                </a>
                <a href="{% url 'programming' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                </a>
            </nav>
        </div>
        <a href="{% url 'logout' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
        </a>
    </div>

    {% else %}
    <div class="w3-bar w3-blue">
        <a href="{% url 'home' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
        </a>
        <div class="w3-dropdown-hover ">
            <button class="w3-button w3-blue">Menu</button>
            <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                <a href="{% url 'movie' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                </a>
                <a href="{% url 'project' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                </a>
                <a href="{% url 'question' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                </a>
                <a href="{% url 'programming' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                </a>
            </nav>
        </div>
        <a href="{% url 'logout' %}">
            <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
        </a>
        {% endif %}
    </section>







    <section class="w3-show-small w3-hide-medium w3-hide-large main-header">
        <h1 class="w3-center w3-light-blue"> <i class="fa fa-heart"></i> Welcome To Tula Magar portfolio <i class="fa fa-heart"></i> : {{user.username}} </h1>
        {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
        <div class="w3-bar w3-blue">
            <a href="{% url 'home' %}">
                <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
            </a>
            <a href="{% url 'upload' %}">
                <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
            </a>
            <a href="{% url 'store' %}">
                <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
            </a>

            <div class="w3-dropdown-hover ">
                <button class="w3-button w3-blue">Menu</button>
                <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                    <a href="{% url 'movie' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                    </a>
                    <a href="{% url 'project' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                    </a>
                    <a href="{% url 'question' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                    </a>
                    <a href="{% url 'programming' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                    </a>
                </nav>
            </div>
            <a href="{% url 'logout' %}">
                <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
            </a>
        </div>
    
        {% else %}
        <div class="w3-bar w3-blue">
            <a href="{% url 'home' %}">
                <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
            </a>
            <div class="w3-dropdown-hover ">
                <button class="w3-button w3-blue">Menu</button>
                <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                    <a href="{% url 'movie' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                    </a>
                    <a href="{% url 'project' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                    </a>
                    <a href="{% url 'question' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                    </a>
                    <a href="{% url 'programming' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">programming</button>
                    </a>
                </nav>
            </div>
            <a href="{% url 'logout' %}">
                <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
            </a>
            {% endif %}
        </section>




        <p style="text-align: center;"> page coming soon!</p>

        <section class="container w3-hide-small main-header">
            <div class="one">
                <a href="{% url 'walk' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">walk</button>
                </a> </br>
                <a href="{% url 'run' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Run</button>
                </a></br>
                <a href="{% url 'jogging' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Jogging</button>
                </a></br>
                <a href="{% url 'app' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">app</button>
                </a></br>
                <a href="{% url 'chess' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Chess</button>
                </a></br>
                <a href="{% url 'leg' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">leg</button>
                </a></br>
                <a href="{% url 'muscle' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">muscle</button>
                </a>
            </div>
            <div class="two"> 
                <p> Human begins daily needs physical activity to remain well and fine. 
                    You came here to learn about the physical activity which will help 
                    you to become well and fine such as in fitness. Physical fitness is 
                    generally achieved through proper physical activity, nutrition, 
                    moderate-vigorous physical exercise, and sufficient rest.  
                    There are various kinds of physical activities such as walking, 
                    running, jogging, and etc. On the left side of this page, we 
                    have mentioned some of the physical activities. You can check some 
                    ideas and advantages of physical activities.
                </p> 
            </div>
            <div class="three">
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script data-ad-client="ca-pub-4465270782266154" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            </div>
        </section>


        <!-- mobile size and no left side menu of physical activities-->
        <section class="w3-show-small w3-hide-medium w3-hide-large main-header">
            <div> 
                <p> Human begins daily needs physical activity to remain well and fine. 
                    You came here to learn about the physical activity which will help 
                    you to become well and fine such as in fitness. Physical fitness is 
                    generally achieved through proper physical activity, nutrition, 
                    moderate-vigorous physical exercise, and sufficient rest.  
                    There are various kinds of physical activities such as walking, 
                    running, jogging, and etc. On the left side of this page, we 
                    have mentioned some of the physical activities. You can check some 
                    ideas and advantages of physical activities.
                </p> 
            </div>
        </section>



        
</body>
</html>