{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>movie collection</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                "order": []
            });
        });
        </script>
        <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            border: 1px solid black;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        a {
            text-decoration: none;
        }
        </style>
    </head>
    <body>
        
        <section class="w3-hide-small main-header" style="background-color:#6699cc">
            {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
            <div class="w3-bar w3-blue">
                <a href="{% url 'home' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
                </a>
                <a href="{% url 'upload' %}">
                    <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
                </a>
                <a href="{% url 'movie' %}">
                    <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                </a>
                <a href="{% url 'PhysicalActivity' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item w3-blue">Physical Activity</button>
                </a>
                <div class="w3-dropdown-hover ">
                    <button class="w3-button w3-blue">Menu</button>
                    <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                        <a href="{% url 'upload' %}">
                            <button class="w3-hover-light-blue w3-button w3-bar-item">blog</button>
                        </a>
                        <a href="{% url 'store' %}">
                            <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                        </a>
                        <a href="{% url 'home' %}">
                            <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                        </a>
                    </nav>
                </div>
                <a href="{% url 'logout' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
                </a>
            </div>
        
            {% else %}
            <div class="w3-bar w3-blue">
                <a href="{% url 'home' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
                </a>
                <div class="w3-dropdown-hover ">
                    <button class="w3-button w3-blue">Menu</button>
                    <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                        <a href="{% url 'PhysicalActivity' %}">
                            <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
                        </a>
                        <a href="{% url 'PhysicalActivity' %}">
                            <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                        </a>
                        <a href="{% url 'movie' %}">
                            <button class=" w3-hover-light-blue w3-button w3-bar-item">Movie</button>
                        </a>
                    </nav>
                </div>
                <a href="{% url 'logout' %}">
                    <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
                </a>
                {% endif %}
            </section>
        
        
        
        
        
        
        
            <section class="w3-show-small w3-hide-medium w3-hide-large main-header" style="background-color:#6699cc">
                {% if request.user.groups.all|first|stringformat:"s" == "creator" %}
                <div class="w3-bar w3-blue">
                    <a href="{% url 'home' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
                    </a>
                    <a href="{% url 'upload' %}">
                        <button class=" w3-hover-light-blue w3-button w3-bar-item">Upload File</button>
                    </a>
                    <a href="{% url 'store' %}">
                        <button class=" w3-hover-light-blue w3-button w3-bar-item">Store</button>
                    </a>
                    <a href="{% url 'PhysicalActivity' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item w3-blue">Physical Activity</button>
                    </a>
                    <div class="w3-dropdown-hover ">
                        <button class="w3-button w3-blue">Menu</button>
                        <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                            <a href="{% url 'upload' %}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">blog</button>
                            </a>
                            <a href="{% url 'store' %}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                            </a>
                            <a href="{% url 'home' %}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">Question</button>
                            </a>
                        </nav>
                    </div>
                    <a href="{% url 'logout' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
                    </a>
                </div>
            
                {% else %}
                <div class="w3-bar w3-blue">
                    <a href="{% url 'home' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Home</button>
                    </a>
                    <div class="w3-dropdown-hover ">
                        <button class="w3-button w3-blue">Menu</button>
                        <nav class="w3-blue w3-dropdown-content w3-bar-block w3-border">
                            <a href="{% url 'PhysicalActivity' %}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">Physical Activity</button>
                            </a>
                            <a href="{% url 'PhysicalActivity' %}">
                                <button class="w3-hover-light-blue w3-button w3-bar-item">Projects</button>
                            </a>
                        </nav>
                    </div>
                    <a href="{% url 'logout' %}">
                        <button class="w3-hover-light-blue w3-button w3-bar-item">Logout</button>
                    </a>
                    {% endif %}
                </section>
        

        <div class="w3-container w3-center">
            {% load static %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <label>Image</label>
                <input type="text" name="image" value="{{image.0}}"><br>
                <label>Name:</label>
                <input type="text" name="name" value="{{name.1}}"><br>
                <label>url:</label>
                <input type="text" name="url" value="{{url.2}}"><br>

                <button type="submit" value="update" name="update" class="file-upload-btn">Upload</button>
            </form>
        </div>

</body>
</html>