{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>movie collection</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                "order": []
            });
        });
        </script>
        <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            border: 1px solid black;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        a {
            text-decoration: none;
        }
        </style>
    </head>
    <body>
        
        <div class="w3-container">
            <div class="w3-bar w3-border w3-light-grey">
                <a class="w3-bar-item w3-hover-green w3-button" href="{% url 'home' %}"><i class="fa fa-home"></i></a>  
                <a class="w3-bar-item w3-hover-green" href="{% url 'movie' %}">Movie</a>
                <a class="w3-bar-item w3-hover-red">Projects</a>
                <a class="w3-bar-item w3-hover-blue">Programming blog</a>
                <a class="w3-bar-item w3-hover-red" href="{% url 'logout' %}">Log out</a>
            </div>
        </div>

        <div class="w3-container w3-center">
            {% load static %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <label>Image</label>
                <input type="file" name="image" value="{{image.0}}" class="file-upload">
                <label>Name:</label>
                <input type="text" name="name" value="{{name.1}}"><br>
                <label>url:</label>
                <input type="text" name="url" value="{{url.2}}"><br>

                <button type="submit" value="update" name="update" class="file-upload-btn">Upload</button>
            </form>
        </div>

</body>
</html>